<app-title title="{{symbol}}"></app-title>

<app-spinner [loading]="loading"></app-spinner>

<div *ngIf="!loading">

    <div *ngIf="!stockPrices || stockPrices.length === 0" class="alert alert-danger">
        <div class="alert-items">
            <div class="alert-item static" role="alert">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <span class="alert-text">
                    We do not have any prices for this stock ({{symbol}}).
                </span>
            </div>
        </div>
        <button type="button" class="close" aria-label="Close">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
    </div>
    <div class="clr-row" *ngIf="stockPrices && stockPrices.length > 0">
        <div class="clr-col-2">
            <app-tile title="Open" [value]="stockPrices[0].open" currency="$" colourClass="brand-blue-two">
            </app-tile>
            <app-tile title="High" [value]="stockPrices[0].high" currency="$" colourClass="brand-blue-three">
            </app-tile>
            <app-tile title="Low" [value]="stockPrices[0].low" currency="$" colourClass="brand-blue-four">
            </app-tile>
            <app-tile title="Close" [value]="stockPrices[0].close" currency="$" colourClass="brand-green-two">
            </app-tile>
            <app-tile title="Volume" [value]="stockPrices[0].volume" colourClass="brand-green-three">
            </app-tile>
        </div>
        <div class="clr-col-10">
            <highcharts-chart *ngIf="chartOptions" [Highcharts]="Highcharts" [options]="chartOptions"
                              style="width: 100%;  display: block;"></highcharts-chart>
        </div>

        <div class="btn-group">
            <button class="btn btn-sm time-frame" [class.btn-primary]="days === 7"
                    (click)="onClickTimeframe(7)">7D</button>
            <button class="btn btn-sm time-frame" [class.btn-primary]="days === 30"
                    (click)="onClickTimeframe(30)">30D</button>
            <button class="btn btn-sm time-frame" [class.btn-primary]="days === 90"
                    (click)="onClickTimeframe(90)">90D</button>
        </div>

    </div>

    <clr-tabs>
        <clr-tab *ngIf="stockPrices && stockPrices.length > 0">
            <button clrTabLink>Historical</button>
            <clr-tab-content *clrIfActive="true">
                <clr-datagrid>
                    <clr-dg-column>Date</clr-dg-column>
                    <clr-dg-column>Open</clr-dg-column>
                    <clr-dg-column>High</clr-dg-column>
                    <clr-dg-column>Low</clr-dg-column>
                    <clr-dg-column>Close</clr-dg-column>
                    <clr-dg-column>Volume</clr-dg-column>

                    <clr-dg-row *clrDgItems="let sp of stockPrices" [clrDgItem]="sp">
                        <clr-dg-cell>{{sp.date | date:'mediumDate'}} {{sp.date | date:'shortTime'}}</clr-dg-cell>
                        <clr-dg-cell>{{sp.open | number}}</clr-dg-cell>
                        <clr-dg-cell>{{sp.high | number}}</clr-dg-cell>
                        <clr-dg-cell>{{sp.low | number}}</clr-dg-cell>
                        <clr-dg-cell>{{sp.close | number}}</clr-dg-cell>
                        <clr-dg-cell>{{sp.volume | number}}</clr-dg-cell>

                    </clr-dg-row>
                    <clr-dg-footer>
                        <clr-dg-pagination #pagination [clrDgPageSize]="10">
                            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Prices per page</clr-dg-page-size>
                            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                            of {{pagination.totalItems}} Prices
                        </clr-dg-pagination>
                    </clr-dg-footer>
                </clr-datagrid>
            </clr-tab-content>
        </clr-tab>

        <clr-tab *ngIf="intradayStockPrices && intradayStockPrices.length > 0">
            <button clrTabLink>Intraday</button>
            <clr-tab-content *clrIfActive="true">
                <app-intraday-prices [prices]="intradayStockPrices"></app-intraday-prices>
            </clr-tab-content>
        </clr-tab>
    </clr-tabs>
</div>