$primary-blue: #154854;
$brand-blue-two: #0a787e;
$brand-blue-three: #00a8a8;
$brand-blue-four:#0fad84;

$primary-green: #1db361;
$brand-green-two: #197d5a;
$brand-green-three: $primary-green;

$positive: green;
$negative: red;