@import 'colours';

.company-card {
    border-left: 3px solid $primary-blue;
    margin: 20px 0 20px 0;
    padding: 20px;
    background-color: lighten($color: grey, $amount: 70);
    width: 400px;

    .name {
        font-size: 18px;
        display: inline-block;
        width: 65%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .type {
        margin-bottom: 5px;
        font-size: 13px;
    }

    .market-time {
        font-size: 11px;
        text-align: right;
    }

    .symbol {
        font-size: 10px;
        display: inline-block;
        font-weight: bolder;
        text-align: right;
        width: 35%;
        color: $brand-blue-two;
    }
}