:root {
    --clr-header-bg-color: #154854;
}


.company-logo {
    background-image: url('assets/img/company-logo.png');
    width: 250px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;

}