<app-title title="Search - {{ searchInput}}"></app-title>
<form clrForm [formGroup]="searchForm">
    <input clrInput placeholder="Ticker" type="text" formControlName="input" (change)="onChangeSearchInput($event)" />
</form>

<app-spinner [loading]="loading"></app-spinner>

<clr-datagrid *ngIf="stockPrices">
    <clr-dg-column>
        <clr-icon shape="calendar"></clr-icon> Date
    </clr-dg-column>
    <clr-dg-column>
        <clr-icon shape="folder-open"></clr-icon> Open
    </clr-dg-column>
    <clr-dg-column>High</clr-dg-column>
    <clr-dg-column>Low</clr-dg-column>
    <clr-dg-column>Close</clr-dg-column>
    <clr-dg-column>Volume</clr-dg-column>


    <clr-dg-row *ngFor="let sp of stockPrices">
        <clr-dg-cell>{{sp.date | date:'mediumDate'}} {{sp.date | date:'shortTime'}}</clr-dg-cell>
        <clr-dg-cell>{{sp.open | number}}</clr-dg-cell>
        <clr-dg-cell>{{sp.high | number}}</clr-dg-cell>
        <clr-dg-cell>{{sp.low | number}}</clr-dg-cell>
        <clr-dg-cell>{{sp.close | number}}</clr-dg-cell>
        <clr-dg-cell>{{sp.volume | number}}</clr-dg-cell>

    </clr-dg-row>

    <clr-dg-footer>{{stockPrices.length}} Prices</clr-dg-footer>
</clr-datagrid>