@import 'colours';

.clr-form-horizontal .clr-form-control {
    flex-direction: column !important;
}

.search-page-icon {
    display: inline-block;
}

.search-tickers {
    input {
        width: 500px;
        margin-left: -219px;
    }
}

.header-icon {
    margin-left: 5px;
    color: $primary-blue;
}