<app-title title="Home"></app-title>
<div class="search-companies">

    <form clrForm [formGroup]="searchForm" class="search-tickers">
        <input clrInput placeholder="Company Name" type="text" formControlName="companiesCtrl"
               (change)="onChangeSearchCompanies($event)" />
    </form>
</div>
<app-spinner [loading]="loading"></app-spinner>

<div *ngIf="!loading">
    <div *ngIf="companies">

        <div *ngFor="let c of companies">
            <app-company-card [company]="c"></app-company-card>
        </div>

    </div>

</div>