<app-title title="Home"></app-title>
<div class="search-companies">

    <form clrForm [formGroup]="searchForm" class="search-tickers">
        <input clrInput placeholder="Company Name" type="text" formControlName="companiesCtrl"
               (change)="onChangeSearchCompanies($event)" />
    </form>
</div>
<app-spinner [loading]="loading"></app-spinner>

<div *ngIf="!loading">
    <div *ngIf="companies">

        <div *ngFor="let c of companies">
            <div class="company-card">
                <div class="name">
                    {{c.name}}
                </div>
                <div class="symbol">
                    {{c.symbol}}
                </div>
                <div class="type">
                    {{c.type}} / {{c.region}} / {{c.currency}}

                </div>

                <div class="market-time">
                    {{c.marketOpen}} - {{c.marketClose}} ({{c.timezone}})
                </div>
            </div>
        </div>

    </div>

</div>