@import 'colours';

.card {
    width: 400px;
    border-left: 5px solid $primary-blue;


    .card-ticker {
        font-size: 15px;
        margin-top: -10px;

        clr-icon[shape="arrow"] {
            color: $positive;
        }

        clr-icon[shape="arrow down"] {
            color: $negative;
        }

        .growth-icon {
            margin-left: 10px;
        }

        .card-positive-text {
            display: inline-block;
            color: $positive;
        }
    }

    .tech-titans-card-favourites {
        margin-left: 250px;
    }

    .card-price {
        display: inline-block;
        color: $positive;
        margin-right: -7.5px;
    }

}

.company-card {
    border-left: 3px solid $primary-blue;
    margin: 20px 0 20px 0;
    padding: 20px;
    background-color: lighten($color: grey, $amount: 70);
    width: 400px;
    display: inline-block;

    .name {
        font-size: 18px;
    }

    .symbol {
        font-size: 10px;
        display: inline-block;
        color: $primary-green;
    }

    .region {}
}