<app-title title="Home"></app-title>

<app-spinner [loading]="loading"></app-spinner>

<div class="clr-row">
    <div class="clr-col-lg-3">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    Microsoft <clr-icon shape="eye" class="tech-titans-card-favourites">
                    </clr-icon>
                </div>
                <div class="card-ticker">
                    NASDAQ: MSFT <div class="card-price">£120</div>
                    <clr-icon class="growth-icon" shape="arrow"></clr-icon>
                    <div class="card-positive-text">20%</div>
                </div>
            </div>
            <div class="card-block">
                <div class="card-title">

                </div>
                <div class="card-text">
                    ...
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link">
                    More
                </button>
                <button class="btn btn-sm btn-link ">
                    Brief information

                </button>
                <clr-dropdown>
                    <button class="btn btn-outline-primary" clrDropdownTrigger>
                        Time-Frame
                        <clr-icon shape="caret down"></clr-icon>
                    </button>
                    <clr-dropdown-menu clrPosition="bottom" *clrIfOpen>
                        <div aria-label="Dropdown header" clrDropdownItem>Past Day</div>
                        <div aria-label="Dropdown header" clrDropdownItem>Past Month</div>
                        <div aria-label="Dropdown header" clrDropdownItem>Past Year</div>
                        <div aria-label="Dropdown header" clrDropdownItem>Lifetime</div>
                    </clr-dropdown-menu>
                </clr-dropdown>
            </div>
        </div>
    </div>
</div>